<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>CRUD Livros</title>
</head>
<body>
	<form th:action="modBook">
        <label>IdLivro:</label>
        <input name="codBook" id="codBook" class="campo"></br>
        <label>Titulo:</label>
        <input name="title" id="title" class="campo"></br>
        <label>Autor:</label>
        <input name="author" id="author" class="campo"></br>
        <label>Valor:</label>
        <input name="value" id="value" class="campo"></br>
        <label>Categorias:</label>
        <select name="categories" id="categories">
            <option th:each="category : ${category}" th:value="${category.getCategory()}" th:text="${category.getCategory()}"></option>
        </select></br>
        <input type="submit" name="action" value="Insert Book">
        <input type="submit" name="action" value="Update Book">
        <input type="submit" name="action" value="Delete Book">
    </form>
    
    <form th:action="@{/}">
		<input type="submit" value="Voltar">
	</form>
	
  		<h2 th:if="${deleteSuc}">Livro deletado com sucesso!</h2>
	    <h2 th:if="${deleteError}">Erro ao deletar livro, não foi possivel excluir o livro!</h2>
	
	    <h2 th:if="${insertSuc}">Livro cadastrado com sucesso!</h2>
	    <h2 th:if="${insertError}">Erro ao cadastrar livro, cadastro não realizado!</h2>
	
	    <h2 th:if="${updateSuc}">As informações do livro foram Atualizadas!</h2>
	    <h2 th:if="${updateError}">Erro ao atualizar as informções do livro, atualização não realizada!</h2>
	    
    
</body>
</html>