<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Pagina inicial</title>
</head>
<body>
	<div>
		<h2>Leandro Macedo - RGM:26746972</h2>
		<h2>Paulo Leal - RGM:28089189</h2>
		<h2>Vanessa Ike - RGM:27967395</h2>
		<h2>Wesley do Carmo - RGM:28108507</h2>
	</div>
	<form th:action="@{booksByCategories}">	
		<input type="submit" value="Livros por Categoria">
	</form>
	<form th:action="@{CRUDBooks}">
        <input type="submit" value="CRUD Livros">
    </form>
    <form th:action="@{booksById}">
        <input type="submit" value="Livros por CodLivro">
    </form>
</body>
</html>